.botones {

    align-items: center;
    background-color: #26105d;
font-size: 18px;
font-weight: 900;
    color: blanchedalmond; 
    border-radius: 10px;
    font-family: Lovechild-Regular;
    justify-content: center;
    line-height: 26px;     padding: 10px 20px;
    text-align: center;
    display: flex;
     flex-direction: row;



}